@page "/rackslot/queue"
@rendermode InteractiveServer
@using FPCService.Data
@using FPCService.Services.StorageRack
@using FPCService.Services
@inject RackSlotService RackSlotService
@inject DataChangeNotificationService NotificationService
@inject IJSRuntime JSRuntime
@implements IDisposable

<h3>儲存架插槽佇列管理</h3>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="ShowAddPopup">新增佇列</button>
</div>

<DxGrid Data="@queues"
        @ref="grid"
        KeyFieldName="UID"
        PageSize="20"
        ShowFilterRow="true"
        ShowPager="true">
    <Columns>
        <DxGridDataColumn FieldName="UID" Caption="序號" Width="80px" />
        <DxGridDataColumn FieldName="QueueStatus" Caption="佇列狀態" Width="100px" />
        <DxGridDataColumn FieldName="RackSlotUid" Caption="插槽編號" Width="120px" />
        <DxGridDataColumn FieldName="Floor" Caption="樓層" Width="80px" />
        <DxGridDataColumn FieldName="TaskUid" Caption="任務編號" Width="120px" />
        <DxGridDataColumn FieldName="ProcessTime" Caption="處理時間" Width="150px" />
        <DxGridDataColumn FieldName="CreateTime" Caption="建立時間" Width="150px" />
        <DxGridDataColumn FieldName="CompleteTime" Caption="完成時間" Width="150px" />
        <DxGridCommandColumn Width="150px">
            <HeaderTemplate>操作</HeaderTemplate>
            <CellDisplayTemplate>
                <button class="btn btn-sm btn-info" @onclick="@(() => ShowEditPopup((context.DataItem as QueueRackSlot)!))">編輯</button>
                <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteQueue((context.DataItem as QueueRackSlot)!.UID))">刪除</button>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>
</DxGrid>

@if (isPopupVisible)
{
    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@popupTitle</h5>
                    <button type="button" class="btn-close" @onclick="() => isPopupVisible = false"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">佇列狀態</label>
                            <input type="number" class="form-control" @bind="editModel.QueueStatus" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">插槽編號</label>
                            <input class="form-control" @bind="editModel.RackSlotUid" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">樓層</label>
                            <input type="number" class="form-control" @bind="editModel.Floor" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">任務編號</label>
                            <input class="form-control" @bind="editModel.TaskUid" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">處理時間</label>
                            <input type="datetime-local" class="form-control" @bind="editModel.ProcessTime" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">建立時間</label>
                            <input type="datetime-local" class="form-control" @bind="editModel.CreateTime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">完成時間</label>
                            <input type="datetime-local" class="form-control" @bind="editModel.CompleteTime" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => isPopupVisible = false">取消</button>
                    <button type="button" class="btn btn-primary" @onclick="SaveQueue">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    private List<QueueRackSlot> queues = new();
    private IGrid? grid;
    private bool isPopupVisible = false;
    private bool isEditMode = false;
    private string popupTitle = "";
    private QueueRackSlot editModel = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        NotificationService.QueueRackSlotChanged += OnDataChanged;
    }

    private async Task LoadData()
    {
        queues = await RackSlotService.GetQueueRackSlotAsync();
    }

    private async void OnDataChanged()
    {
        await InvokeAsync(async () =>
        {
            await LoadData();
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        NotificationService.QueueRackSlotChanged -= OnDataChanged;
    }

    private void ShowAddPopup()
    {
        isEditMode = false;
        popupTitle = "新增佇列";
        editModel = new QueueRackSlot
        {
            UID = 0,
            QueueStatus = 0,
            RackSlotUid = "",
            Floor = 1,
            TaskUid = "",
            ProcessTime = DateTime.Now,
            CreateTime = DateTime.Now,
            CompleteTime = null
        };
        isPopupVisible = true;
    }

    private void ShowEditPopup(QueueRackSlot queue)
    {
        isEditMode = true;
        popupTitle = "編輯佇列";
        editModel = new QueueRackSlot
        {
            UID = queue.UID,
            QueueStatus = queue.QueueStatus,
            RackSlotUid = queue.RackSlotUid,
            Floor = queue.Floor,
            TaskUid = queue.TaskUid,
            ProcessTime = queue.ProcessTime,
            CreateTime = queue.CreateTime,
            CompleteTime = queue.CompleteTime
        };
        isPopupVisible = true;
    }

    private async Task SaveQueue()
    {
        try
        {
            if (isEditMode)
            {
                await RackSlotService.UpdateQueueRackSlotAsync(editModel);
            }
            else
            {
                await RackSlotService.InsertQueueRackSlotAsync(editModel);
            }
            isPopupVisible = false;
            await LoadData();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", $"保存失敗: {ex.Message}");
        }
    }

    private async Task DeleteQueue(int uid)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", $"確定要刪除佇列 {uid} 嗎？");
        if (confirmed)
        {
            try
            {
                await RackSlotService.DeleteQueueRackSlotAsync(uid);
                await LoadData();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                await JSRuntime.InvokeVoidAsync("alert", $"刪除失敗: {ex.Message}");
            }
        }
    }
}
