@page "/yarnmachine/detail"
@rendermode InteractiveServer
@using FPCService.Data
@using FPCService.Services.YarnMachine
@using FPCService.Services
@inject YarnMachineService YarnMachineService
@inject DataChangeNotificationService NotificationService
@implements IDisposable

<h3>紡紗機事件明細</h3>

<DxGrid Data="@details"
        EditMode="GridEditMode.EditRow"
        EditModelSaving="OnEditModelSaving">
    <Columns>
        <DxGridCommandColumn Width="160px" />
        <DxGridDataColumn FieldName="UID" Caption="序號" />
        <DxGridDataColumn FieldName="YarnMachineUid" Caption="紡紗機編號" />
        <DxGridDataColumn FieldName="YarnMachineStatus" Caption="紡紗機狀態" />
        <DxGridDataColumn FieldName="WorderOrder" Caption="工單號碼" />
        <DxGridDataColumn FieldName="YarnSpoolType" Caption="紗筒類型" />
        <DxGridDataColumn FieldName="Floor" Caption="樓層" />
        <DxGridDataColumn FieldName="YarnSpoolCompletedCount" Caption="已完成紗筒數" />
        <DxGridDataColumn FieldName="TaskUid" Caption="任務編號" />
        <DxGridDataColumn FieldName="OccurrenceTime" Caption="發生時間" />
    </Columns>
</DxGrid>

@code {
    private List<DetialYarnMachine> details = new();

    protected override async Task OnInitializedAsync()
    {
        NotificationService.DetialYarnMachineChanged += OnDataChanged;
        await LoadData();
    }

    private async Task LoadData()
    {
        details = await YarnMachineService.GetDetialYarnMachineAsync();
    }

    private void OnDataChanged()
    {
        InvokeAsync(async () =>
        {
            await LoadData();
            StateHasChanged();
        });
    }

    private async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        var item = (DetialYarnMachine)e.EditModel;
        if (e.IsNew)
        {
            await YarnMachineService.InsertDetialYarnMachineAsync(item);
        }
        await LoadData();
    }

    public void Dispose()
    {
        NotificationService.DetialYarnMachineChanged -= OnDataChanged;
    }
}
