@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="top-navbar-container">
        <div class="top-navbar">
            <div class="navbar-header">
                <NavLink href="/">
                    <img class="logo" src="images/logo.svg" alt="DevExpress logo" />
                </NavLink>
            </div>
            <div class="navbar-menu">
                <NavMenu></NavMenu>
            </div>
            <div class="navbar-footer">
                @* <NavLink href="https://docs.devexpress.com/Blazor/400725/blazor-components" class="button-link">
                    <DxButton Text="Docs" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-docs"></DxButton>
                </NavLink> *@
                @* <NavLink href="https://demos.devexpress.com/blazor/" class="button-link">
                    <DxButton Text="Demos" RenderStyle="ButtonRenderStyle.Light" RenderStyleMode="ButtonRenderStyleMode.Text" IconCssClass="icon icon-demos"></DxButton>
                </NavLink> *@
            </div>
        </div>
    </div>
    <div class="page-content">
        @Body
    </div>
</div>

@code {
    string LocalPath => new Uri(NavigationManager.Uri).LocalPath;
}