.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
}

.top-navbar-container {
    background-image: linear-gradient(90deg, var(--bs-primary) 0%, var(--bs-black) 150%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.top-navbar {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 2rem;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-header .logo {
    height: 1.5rem;
    width: 9rem;
}

.navbar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::deep .navbar-menu .dxbl-menu-item-content {
    margin: 0 0.75rem !important;
}

::deep .navbar-menu li[role="menuitem"] {
    margin: 0 0.5rem !important;
}

.navbar-footer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

::deep .navbar-footer a {
    color: inherit;
}

.page-content {
    flex: 1;
    overflow: auto;
    padding: 2rem 1.5rem;
}
